.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1D23;

  h2 {
    color: white;
  }
}

.comments-component {
  width: 800px;
  text-align: left;
}