.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.reply-info {
  margin: 1em 0;
p {
    margin:0.2em;
}
}

.warning {
  color: red;
}
